body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #00c3ff, #00ffea, #00ff95);
    /*ackground-image: url(../img/fondo.jpg);
  background-size: contain;
  background-position: center center;*/
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.sala {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.imagen img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

.imagen p {
  margin: 0;
  text-align: center;
}

p {
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.psti{
  font-size: 17px;
}

nav {
    background-color: #838686;
    height: 50px;
  }
  
  ul {
    padding-left: 20em;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  li a:hover {
    background-color: #00fff2;
    border-radius: 5em;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    text-align: right; 
    
  }
  
  nav li {
    padding-left:20px;
    position: relative;
  }
  
  nav li:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #2ECC71;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .img-icon {
    float: left;
    width: 85px; 
    align-items: center;
  }



  
  
  