body{
    padding: 0;
    margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.sala {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.imagen img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.imagen p {
  margin: 0;
  text-align: center;
}

p {
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.psti{
  font-size: 12px;
}

nav {
    background-color: #838686;
    height: 50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  li a:hover {
    background-color: #2ECC71;
    border-radius: 5em;
  }
  
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    padding: 0 20px;
    position: relative;
  }
  
  nav li:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #2ECC71;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  nav li:hover:after {
    transform: scaleX(1);
  }
  